<div class="row no-gutters">
    <div class="col-xl-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row no-gutters">
                <div class="col-xl-12">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
                        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" formControlName="name" id="name">
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="imagePath">Image URL</label>
                        <input formControlName="imagePath" #imagePath type="text" class="form-control" id="imagePath">
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-12">
                    <img [src]="imagePath.value" class="img-fluid" alt="" width="100%">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" formControlName="description" class="form-control" id="description" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-12" formArrayName="ingredients">
                    <div class="row no-gutters my-2" *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls']; let i = index" [formGroupName]="i">
                        <div class="col-xl-8"> <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xl-2"> <input type="text" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xl-2"> <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row no-gutters">
                        <div class="col-xl-12"><button class="btn btn-success" type="button" (click)="onAddIngredient()">Add
                Ingredient</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>