<div class="row">
  <div class="col-xl-12">
    <form action="">
      <div class="row">
        <div class="col-xl-5 form-group">
          <label for="name">
            Name
          </label>
          <input type="text" name="name" id="name" class="form-control">
        </div>

        <div class="col-xl-2 form-group">
          <label for="amount">
            Amount
          </label>
          <input type="number" name="name" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success">Left</button>
            <button type="button" class="btn btn-danger">Middle</button>
            <button type="button" class="btn btn-primary">Right</button>
          </div>
       </div>
      </div>

    </form>
 </div>
</div>
